<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <h1>Karine Savaria Handfield</h1>
                <h4><i class="fas fa-terminal"></i>Web developer</h4>
                <p>
                    Hello there! My name is Karine and I am a developer in Montréal, QC.
                     Since I’ve had access to a Dial-up connection, I’ve had a fascination for code.
                    My love story with the Web goes way back!
                </p>
                <p>
                    Self-proclaimed daydreamer, I adore everything creative and imaginative.
                    I aspire to harmonise the coder and the artist in me.
                </p>
                <a href="#" class="btn btn-primary">My work</a>&nbsp;<a href="#" class="btn btn-secondary">My skills</a>
            </div>
            <div class="card col-lg-4 col-12">
                <div class="card-body">
                <figure class="card-img-top"><i class="fab fa-angular fa-3x"></i></figure>
                <h5>Now learning...</h5>
                <p>
                    I am currently following
                    <a href="https://www.udemy.com/the-complete-guide-to-angular-2/" title="Angular 7 (formerly Angular 2) - The Complete Guide"><i class="fas fa-external-link-alt"></i> Maximilian Schwarzmüller's Angular 7 course</a> via Udemy,
                    which is a comprehensive guide which teaches how to use one of the most powerful modern frameworks.
                </p>
                <a href="https://www.udemy.com/the-complete-guide-to-angular-2/" class="btn btn-secondary"><i class="fas fa-external-link-alt"></i> Go to course</a>
            </div>
            </div>
        </div>
    </div>
</section>
